<div class="editor-container">
  <label class="title">
    Schema editor
  </label>

  <div class="editor-actions">
    <button mat-icon-button
            (click)="copyToClipboard()"
            matTooltip="Copy"
            class="copy-button">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>

  <div class="monaco-wrapper">
    <div class="loading-container" *ngIf="!editorLoaded">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <ngx-monaco-editor
      [options]="editorOptions"
      [(ngModel)]="code"
      (ngModelChange)="onCodeChanged($event)"
      (onInit)="onEditorInit($event)">
    </ngx-monaco-editor>

    <div class="error-message" *ngIf="currentError">
      <div class="error-content">
          {{ currentError }}
      </div>
    </div>
  </div>
</div>
