<div class="editor-container">
  <label class="title">
    Schema editor
    <span>Insert your schema in JSON format to generate the table</span>
  </label>
  <div class="monaco-wrapper">
    <div class="loading-container" [class.hidden]="editorLoaded">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <ngx-monaco-editor
        [options]="editorOptions"
        [(ngModel)]="code"
        (onInit)="onEditorInit()"
        (ngModelChange)="onCodeChanged($event)">
    </ngx-monaco-editor>

    <div class="error-message" *ngIf="currentError">
      <div class="error-content">
          {{ currentError }}
      </div>
    </div>
  </div>
</div>
