<div class="table-builder">
  <label class="title">
    Table creator
  </label>

  <div class="table-builder">
    <app-column-form
      #columnForm
      (addColumn)="onAddColumn($event)"
      (removeColumn)="onRemoveColumn($event)"
      (removeAllRows)="onRemoveAllRows()"
      (numericColumnDeleted)="rowForm.clearAllRows()">
    </app-column-form>

    <app-row-form
      #rowForm
      [columns]="schema.columns"
      [disabled]="columnForm?.isRowsDisabled() || false"
      (addRow)="onAddRow($event)"
      (removeRow)="onRemoveRow($event)">
    </app-row-form>
  </div>

  <div class="editor-view">
    <app-editor [useDefaultTemplate]="false"></app-editor>
  </div>
</div>