:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: visible;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

//Tab style
mat-tab-group {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-mdc-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: auto !important;
  overflow: visible !important;
}

.mat-mdc-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: auto !important;
}

.mat-mdc-tab-body-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: auto !important;
  overflow: visible !important;
}

//Table style
table {
  width: 100%;
  min-width: 600px;
  border-collapse: separate;
  border-spacing: 0;

  .mat-mdc-header-row {
    background-color: #eee;
  }

  .mat-mdc-row {
    &:nth-child(even) {
      background-color: #eee;
    }
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    &:first-child {
      border-left: 1px solid #ddd;
    }

    mat-form-field, mat-select {
      width: 100%;
      font-size: 12px;
      background-color: transparent;
      .mat-mdc-notch-piece {
        border: 0;
      }
    }
  }
  .mdc-data-table__row:last-child>.mat-mdc-cell {
    border-bottom: 1px solid #ddd;
  }

  .mat-mdc-header-cell {
    border-top: 1px solid #ddd;
  }

  .mat-mdc-form-field-icon-suffix{
    margin-right: 5px;
    font-size: 14px;
  }

  .number-input-container {
    display: flex;
    align-items: center;
    gap: 8px;

    .units-select {
      width: 100px;
    }
  }

  @media screen and (max-width: 600px) {
    margin: 5px 0;

    .mat-mdc-cell,
    .mat-mdc-header-cell {
      padding: 5px;
      font-size: 14px;
    }
  }
}
