.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 5px 0;

  .mat-column-rowTotal {
    font-weight: bold;
    font-size: 12px;
  }
}

.mat-mdc-footer-row {
  font-weight: bold;
}

.mat-mdc-footer-cell {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding-left: 25px;
  font-size: 12px;
  &:first-child {
    border-left: 1px solid #ddd;
  }
}