.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: #111619;
  border-radius: 0;
  padding: 12px;
}

.content {
  padding: 20px;
}

mat-drawer-container {
  height: 100%;
}
