/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

label.title{
  font-size: 14px;
  padding: 15px 0;
  font-weight: bold;
  display: block;
  background-color: #bbb;
  border-radius: 30px;
  padding-left: 15px;
  margin: 20px 0 10px 0;
  position: relative;
  color: #333;
  span{
    font-size: 10px;
    color: #999;
    font-weight: normal;
    display: block;
    padding-top: 3px;
  }
}

.w-100 {
  width: 100%;
}
