/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

label{
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  span{
    font-size: 10px;
    color: #555;
    font-weight: normal;
    display: block;
  }
}

.w-100 {
  width: 100%;
}
